
/* STYLE.CSS ********************************************

Detta CSS-dokument innehåller alla generella egenskaper
för webbsidan.

*********************************************************/


/* global styling */

*,
*::before,
*::after {
    box-sizing: border-box;             /* se till att rutor beräknas med ev. padding och margin */
}

html {
    /*TODO: gör så sidan scrollar mjukt när man klickar på interna länkar (bokmärkslänkar) */
}

body {
    margin: 0;
    padding: 0;
    
    background-color: #fafafa;
    
    min-height: 100vh;
    
    color:#3a3a3a;
    font-size: 1.125em;
    font-family: 'Segoe UI', sans-serif;
}

nav.navigation-bar {
    /* FIXME: nav ska följa med när man skrollar ner */

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 0.2rem 1rem;
        
    background-color: #fff;

    box-shadow: 0 3px 6px rgb(178, 178, 178);

    z-index: 1;
}

.main-header {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    
    background-image: url('img/responsive-bg2.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    /* FIXME: clip-path används för sneda linjer / diagonala linjer: välj om du vill fixa clip-path så det passar för mobil i en "media query" eller om du vill ta bort effekten helt på mobiler/paddor.
    
    OBS! ta inte bort här för den ska finnas när man kör vanlig skärm */
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    overflow: hidden;

    isolation: isolate;
}

.main-header::after {
    content: '';
    
    position: absolute;
    
    width: 100%;
    height: 100%;
    
    z-index: -1;

    background: linear-gradient(to bottom, hsl(255 100% 100% / 0.2) 80%, hsl(0, 0%, 96%));
}

.hero-layout {
    width: 70%;
    margin-inline: auto;
    display: grid;

    grid-template-columns: 1fr 1.618fr;
    gap: 2rem;
}

.primary-navigation {
    display: flex;
    gap: 1.5rem;
    list-style: none;
}

.card-layout {
    display: grid;
    
    grid-template-columns: repeat(4, 1fr);

    gap: 1rem;
}

.flex-layout {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.green-bg {
    background: #dcffe4;

    /* FIXME: clip-path används för sneda linjer / diagonala linjer: välj om du vill fixa clip-path så det passar för mobil i en "media query" eller om du vill ta bort effekten helt på mobiler/paddor. 
    
    OBS! ta inte bort här för den ska finnas när man kör vanlig skärm */
    clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
}

section:not(:first-child) {
    padding-bottom: 3rem;
}

section {
    padding-block: 3rem;
}

.margins {
    width: 70%;
    margin-inline: auto;
}


/* footer styling */

footer {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
}

.footer-container {
    display: flex;
}

.footer-navigation-bar,
.footer-info,
.footer-social {
    flex: 1;
}

.footer-navigation {
    display: flex; 
    flex-direction: column;
    gap: 0.5rem;

    margin-top: 1rem;
}

.footer-social {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.social-links {
    margin-bottom: 0.5rem;
}

.footer-bottom {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}


/* text styling */

p {
    color:#3a3a3a;
}

h1, h2 {
    color: black;
}

h3 {
    margin-bottom: 0.5rem;
}

.lead {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.5;

}

.main-title {
    margin-block: 1rem 0.5rem;
    font-size: 4rem;
    line-height: 1;
    white-space: pre-wrap;
}

.upper {
    color: rgb(1, 61, 16);
    text-transform: uppercase;
}

.reversed {
    color: white;
}

.columns {
    columns: 3;
    /* TODO: det går inte att ha tre kolumner i mobil. försök lösa problemet för både mobil och padda */

    column-gap: 3rem;
    column-rule: 1px solid rgb(191, 222, 198);
}

.columns p {
    margin-top: 0;
}

.footer-title {
    color: #fff;
    margin-block: 0rem;
    padding-block: 0rem 1rem;
    font-size: 1.35rem;
    font-weight: 700;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-text {
    color: #d2d2d2;
}

.small {
    font-size: 0.85rem;
    color: #d6d6d6;
}


/* image styling */

img {
    display: block;
    max-width: 100%;
    object-fit: cover;
    border-radius: 1rem;
    
    font-style: italic;
    color: darkgray;   
}

.main-logo {
    width: 32px;
}

.logo {
    width: 32px;
    height: 32px;
}


/* cards */ 

/* TODO: se till att bilderna funkar i mobil-versionen */
.card-image-container {
    overflow: hidden;
    border-radius: 1rem;
    transition: opacity 250ms ease-in-out;
}

.card-image {
    aspect-ratio: 4/5;
    object-fit: cover;
    cursor: pointer;
}

/* TODO: ÖVERKURS: Jag vill att alla utom den man hovrar över ska vara halvgenomskinliga - animationen, transition, måste också fungera */
.card-layout:hover {
    opacity: 0.4;
}


/* responsiveness */

/* MOBILE VIEW */

@media (width < 480px) {

    /* OBS: margins är en hjälpklass - se den användas med sections i HTML-filerna */

    .margins {
        /* FIXME: ändra så det blir mindre marginaler med width här */
    }

}


/* TABLET VIEW */

/* @media (width > 480px) and (width < 860px) {


} */